/* CSS cho Header, Sidebar, Content  */

/* ===== LAYOUT CHUNG ===== */
.app-layout {
  display: flex;
  min-height: 100vh;
  padding-top: var(--header-height);
}

/* ===== CONTENT AREA ===== */
.layout__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  overflow: hidden;
  min-width: 0;
}

/* TOOLTIP hiện ra khi hover vào item */
[data-tooltip] {
  position: relative;
}

/* Phần nội dung Tooltip */
[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);

  padding: 6px 12px;
  background: #111827;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 9999;
  pointer-events: none;

  /* Hiệu ứng ẩn hiện */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}

/* Phần Mũi tên ở giữa */
[data-tooltip]::before {
  content: '';
  position: absolute;
  top: calc(100% + 4px);
  left: 50%;
  transform: translateX(-50%);

  /* Vẽ tam giác bằng border */
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #111827; /* Mũi tên chỉ lên trên */

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
  z-index: 9999;
}

/* Hiệu ứng Hover */
[data-tooltip]:hover::after,
[data-tooltip]:hover::before {
  opacity: 1;
  visibility: visible;
}

/* Css riêng cho Tooltip của Icon Tất cả ứng dụng của Header */
[data-tooltip].tooltip-right::after {
  left: -15px;
  transform: translateX(0);
  top: calc(100% + 10px);
}

/* Phần Mũi tên căn theo */
[data-tooltip].tooltip-right::before {
  left: 12px;
  transform: translateX(-50%);
  top: calc(100% + 4px);
}

/* Kết thúc CSS TOOLTIP hiện ra khi hover vào item */
